<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
 <table border="1" width="80%" align="center"  cellspacing="0" cellpadding="0">
       <tr>
          <td colspan="5" align="right"><a th:href="@{/add}">添加</a></td>
       </tr>
       <tr>
          <td>编号</td>
          <td>姓名</td>
          <td>性别</td>
          <td>年龄</td>
          <td>qq</td>
          <td>邮箱</td>
       </tr>  
       <tr th:each="users:${list}">
          <td th:text="${users.id}"></td>
          <td th:text="${users.name}"></td>
          <td th:text="${users.sex}"></td>
          <td th:text="${users.age}"></td>
          <td th:text="${users.qq}"></td>
          <td th:text="${users.email}"></td>
          <td>
             <a th:href="@{/del(id=${users.id})}">删除</a>
             <a th:href="@{/update}">修改</a>
          </td>
       </tr>  
   </table>
</body>
</html>